/******************************/
/* IMPORTS */
/******************************/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');


/******************************/
/* VARIABLES */
/******************************/

:root {

  /* COLORS */

  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(222, 22%, 26%);
  --dark-blueish-black: hsl(228, 22%, 19%);
  --blue: hsl(228, 100%, 66%);
  --grey: hsl(227, 13%, 52%);


  /* FONTS */

  /* font-family */
  --main-font: 'Kumbh Sans', sans-serif;

  /* font-weight */
  --fw-bold: 700;

}


/******************************/
/* MAIN STYLES */
/******************************/


/* Box Sizing With Inheritence */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Body */
body {
  font-size: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--fw-bold);
  background-color: var(--dark-blueish-black);
  color: var(--white);
}


/* Main Container */
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Countdown Container */
.countdown-container {
  width: 20.5rem;
  display: flex;
  flex-direction: column;
}


/* Countdown Container Heading */
.countdown-container-heading {
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  letter-spacing: 0.3125rem;
  margin: 0 0 1.125rem 0;
}


/* Countdown-Container-Heading-Date */
.countdown-container-heading-date {
  color: var(--blue);
}


/* Countdown Timer Container */
.countdown-timer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}


/* Timer Number Container */
.timer-number-container {
  width: 4.5rem;
  height: 5.75rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  background-color: var(--very-dark-blue);
  border-radius: 0.25rem;
}


/* Timer Number */
.timer-number {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0.6875rem;
  margin-bottom: 0;
}


/* Timer Copy */
.timer-copy {
  font-size: 0.75rem;
  line-height: 1.75rem;
  color: var(--grey);
  padding: 0;
  margin: 0;
}